/* qFluids custom styles
 * @autor: jose.paternina@desarrollo22.com;
*/

.top_tools{
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	background-color:#000;
	color:#fff;
	padding: 10px;
}

.app_name{
	float: left;
}
.app_name h1{
	display: block;
	float: left;
	font-size:13px;
	margin-right:10px;
}

.user_tools{
	float: right;
}
.user_tools .user_completename{
	font-weight:bold;
}

.user_tools a{
	color:#FF2900;
}

.qfluids_wrapper{
	width:1200px;
	margin: 40px auto 0 auto;
}

.sidebar{
	float:left;
	width:250px;
	text-align:right;
	margin-top:20px;
}

.sidebar ul{
	list-style:none;
	margin:0;
	padding:0;
}

.sidebar li{
	display: block;
	width:250px;
}

.sidebar .main_navigation{
	margin-bottom:20px;
}

.sidebar .main_navigation li{
	margin-bottom:10px;
}

.panels{
	width:1050px;
	float: left;
	margin: 20px 0px 0px 20px;
	min-height:400px;
}

#project_info{
	width:1030px;
	float: left;
	padding:10px;
	border:1px solid #F3DE44;
	background-color:#F7FAB4;
	color:#444;
}

#project_info strong{
	text-transform: uppercase;
}

#project_info td{
	height: 30px;
	text-align: right;
}

.this_panel{
	display: none;
}

.column{
	width:450px;
	margin-right:20px;
}

.this_panel .left{
	float: left;
}

.this_panel .right{
	float: right;
}