/* qFluids custom styles
 * @autor: jose.paternina@desarrollo22.com;
*/

.main_content{
	min-height: 700px;
	min-width: 1200px;
	width: 100%;
	border-top:3px solid #000;
	overflow-y: scroll; 
}

.qfluids_wrapper{
	width:1200px;
	margin: 0 auto 0 auto;
	position: relative;
}

.sidebar{
	width:250px;
	text-align:right;
	position:absolute;
	left: 0px;
	top:20px;
	display: none;
}

.sidebar ul{
	list-style:none;
	margin:0;
	padding:0;
}

.sidebar li{
	display: block;
	width:250px;
}

.sidebar .main_navigation{
	margin-bottom:20px;
}

.sidebar .main_navigation li{
	margin-bottom:10px;
}

.panels{
	width:930px;
	float: right;
	margin: 20px 0px 0px 20px;
	min-height:400px;
	padding-top:100px;
}

.project_info_wrapper{
	position: fixed;
	top:3px;
	width:930px;
	padding-top:20px;
	padding-bottom: 40px;
	/*background-image: url('/img/square_bg.png');*/
	background-image: url('http://subtlepatterns.com/patterns/gplaypattern.png');
	background-attachment: fixed;
	z-index: 98;
	background-color: #fff;
}

#project_info{
	width:910px;
	padding:10px;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	background-color:#FCFEFE;
	float:left;
}

#project_info strong{
	text-transform: uppercase;
}

#project_info td{
	text-align: left;
	vertical-align: middle;
}

.this_panel{
	display: none;
	font-size: 12px;
	float: left;
	padding-bottom: 40px;
	width: 930px;
}

.this_panel h2{
	font-size: 24px;
	color:#259271;
	margin-bottom: 20px;
}

.column{
	width:450px;
	margin-right:20px;
}

.this_panel .left{
	float: left;
}

.this_panel .right{
	float: right;
}

.this_panel input[type="text"]{
	width: 35px;
}

.this_panel input[type="text"].medium{
	width: 110px;
}

#welcome_panel{
	padding-top:150px;
	text-align:center;
}

/* OVERLAY */
.overlay_wrapper{
    position:absolute;
    background-image:url('/img/overlay_bg.png');
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:999;
    display: none;
}

.overlay_dialog_wrapper{
    width:405px;
    margin:50px auto 0 auto;
}

.overlay_dialog{
	background-color:#fff;
	width:365px;
    float: left;
    padding:20px;
}

.overlay_dialog h5{
	color:#02684E;
	font-size: 18px;
	margin: 0 0 20px 0;
}

.overlay_dialog .content{
	float: left;
	margin-bottom:20px;
}

.overlay_dialog .cancel_link{
	float: left;
	width: 182px;
	padding-top:10px;
}

.overlay_dialog .continue_button{
	float: left;
	width: 182px;
	text-align: right;
}

.overlay_dialog .content select{
	width: 175px;
}

.overlay_dialog .content input[type="text"]{
	width: 162px;
}

.unit_field{
	text-align: right;
	padding-right: 5px;
	vertical-align: middle;
}


.casing_tool_row{
	display: none;
}

.this_hidden_panel{
	position:fixed;
    background-image:url('/img/overlay_bg.png');
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:999;
    display: none;
}

.hp_content{
	background-color: #fff;
	position: absolute;
	top:80px;
	right: 200px;
	bottom: 80px;
	left: 200px;
	float: left;
	overflow: auto;
	box-shadow: 0 0 3px 3px #666;
	padding-bottom: 20px;
}

.hp_content .title{
	float: left;
	margin: 20px 0 20px 0;
	width: 100%;
	background-color: #fff;
}

.hp_content .title h2{
	text-transform: uppercase;
	display: block;
	float: left;
	margin:0 0 0 20px;
	color:#259271;
}

.hp_content .realcontent{
	float: left;
	margin-left: 20px;
}

.hp_content .realcontent fieldset{
	float: left;
}

#geometria_pozo .warning{
	display: block;
	float: left;
	width: auto;
	padding: 3px 5px 3px 5px;
	background-color: #FFFF99;
	border:1px solid #FFCC00;
}

#create_project_overlay .step{
	width: 100%;
	float: left;
	display: none;
}

.options_panel{
	position:absolute;
    background-image:url('/img/overlay_bg.png');
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:999;
    float: left;
}

.options_panel .op_content{
	background-color: #fff;
	width:930px;
	margin:50px auto 0 auto;
	padding:20px;
}

#shakers_table .disabled{
	display: none;
}